
.slick-slider.gallery-careosal .slick-prev {
    left: -6% !important;
  }
  .slick-slider.gallery-careosal .slick-next {
    right: -6% !important;
    display: inline-block !important;
  }
  
  .slick-slider.gallery-careosal .slick-prev,
  .slick-slider.gallery-careosal .slick-next {
    font-size: 20px !important;
    line-height: 0;
    color: #00000084 !important;
    position: absolute;
    top: 45% !important;
    z-index: 999 !important;
    width: 40px !important;
    height: 40px;
    border: 1px solid !important;
    background-color: rgb(234, 90, 90) !important;
    padding: 10px !important;
    border-radius: 50% !important;
  }
  .slick-slider.gallery-careosal .slick-prev:hover,
  .slick-slider.gallery-careosal .slick-next:hover {
    font-size: 20px !important;
    line-height: 0;
    color: #ffffff !important;
    position: absolute;
    top: 45% !important;
    z-index: 999 !important;
    width: 40px !important;
    height: 40px;
    border: 1px solid !important;
    background-color: rgb(9, 9, 9) !important;
    padding: 10px !important;
    border-radius: 50% !important;
  }

  @media (max-width:991px) {
    
.slick-slider.gallery-careosal .slick-prev {
    left: 6% !important;
  }
  .slick-slider.gallery-careosal .slick-next {
    right: 6% !important;
    display: inline-block !important;
  }
  
  .slick-slider.gallery-careosal .slick-prev,
  .slick-slider.gallery-careosal .slick-next {
    font-size: 20px !important;
    line-height: 0;
    color: #00000084 !important;
    position: absolute;
    top: 45% !important;
    z-index: 999 !important;
    width: 40px !important;
    height: 40px;
    border: 1px solid !important;
    background-color: rgb(234, 90, 90) !important;
    padding: 10px !important;
    border-radius: 50% !important;
  }
  .slick-slider.gallery-careosal .slick-prev:hover,
  .slick-slider.gallery-careosal .slick-next:hover {
    font-size: 20px !important;
    line-height: 0;
    color: #ffffff !important;
    position: absolute;
    top: 45% !important;
    z-index: 999 !important;
    width: 40px !important;
    height: 40px;
    border: 1px solid !important;
    background-color: rgb(9, 9, 9) !important;
    padding: 10px !important;
    border-radius: 50% !important;
  }
  }