@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* html {
    @apply bg-slate-500
  } */
  /* h1 {
    @apply text-3xl font-bold mb-2;
  } */
  /* a {
    @apply underline
  } */

 
 input[type="text"]{
    @apply text-slate-500 disabled:bg-slate-100 placeholder:italic p-1  mb-2 border rounded-sm border-slate-300  outline-none;
 }

 input[type="date"]{
  @apply p-1  mb-2 border rounded-sm border-slate-300  outline-none;
 }

 input[type="checkbox"]{
  @apply p-1  mb-2 border rounded-sm border-slate-300  outline-none accent-200;
 }
 
 select{
  @apply  p-1  mb-2 border rounded-sm border-slate-300  outline-none ;
 }
 .Select{
  @apply  w-32  mb-2 border rounded border-slate-300  outline-none inline-block cursor-pointer transition   ;
 }
.Select .child{
@apply px-2 py-1 text-slate-500 
 }
 .Select  ul li {

  @apply hover:bg-slate-100
 }


 /* label {
    @apply text.sm text-slate-500 mr-1 font-medium;
  } */

  .btn{
    @apply  px-4 py-2 rounded-lg disabled:bg-slate-400/30 ;
  }

  .btn:hover{
    @apply transition duration-300 opacity-80 disabled:opacity-100 disabled:cursor-not-allowed;
  }

  .btn-primary{
    @apply bg-blue-600 text-white  ;
  }

  .btn-secondary{
    @apply bg-slate-800 text-white ;
  }

 

}


@font-face {
    font-family:Helvetica ;
    src: url("../public/font/Helvetica.woff");
    src:url("../public/font/Poppins-Medium.woff")
  }
  h1,h2{
    font-family: 'Helvetica' ,'Poppins', sans-serif;
    font-weight: bold;
  }
  h3,h4,h5,h6,ul,li{
    font-family:'Helvetica','Poppins', sans-serif;
    font-weight: 600px;
  }

  body{
    font-family: 'Helvetica' ,'Poppins', sans-serif;
    font-weight: 400;
  }
.redClr{
  color: #dc3545;
}
.purpleClr{
  color: #292D77;
}
.redBg{
  background:#dc3545;;
}
.grayClr{
  color: #8d9297;
}
.text-High{
  background: url(/images/textBg.jpg) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-position: center center;
}
.slick-next{
  display: none ! important;
}